<div class="top">

<div class="left-box">
	<h2 class="page-header">Explore Organisations</h2>
	<p>Find the team you're looking for.</p>
</div>
<div class="right-box">
	<button type="button" class="btn-sm btn-outline-primary" [routerLink]="['/organisation/add']">Create an organisation</button>
    <p></p>
    <div class="col-lg-8 input-group search-box">

      <input type="text" class="form-control" [(ngModel)]="searchParams" name="searchParams" placeholder="Search for...">
      <span class="input-group-btn">
        <button value="Submit" class="btn btn-secondary" type="submit" (click)="doSearch()"> <i class="fa fa-search"></i></button>
      </span>

  </div>
</div>

</div>

<hr class="line">

<app-card-org></app-card-org>