@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
        width: 50%;
    }
}

@media (min-width: 608px) {
    .card-columns {
        column-count: 3;
        width: 50%;
    }
}

.card-columns {
    margin: 20px !important;
    float: left;
}