<h2 class="page-header">About</h2>
<hr>
<p>The issue of displaced people is not a new one. Refugees, migrants, and asylum seekers have existed as long as civilisation itself; current UNHCR figures estimate there are 65 million forcibly displaced people throughout the world - the same number as the population of the UK. One of the most recent of these crises is known as the European migrant crisis, which saw over a million displaced people flee to Europe due to poverty, conflict and persecution.
	</p>
<p>
	This website aims to provide a solution to the problem of effectively finding volunteers and donations for refugee camps within Europe, and responding to where these volunteers and donations are needed most at a particular time.
</p>