<h2 class="page-header">Get verified!</h2>
<hr>
<h4>What is verification?</h4>
<p>Verified users have had their identity, address and contact details checked, so you know you are dealing with someone trustworthy.</p>
<br>
<h4>Why get verified?</h4>
<p>Verification is a great way to improve trust between you and others on the website, whether you are an organisation looking to receive more responses to your requests, or a volunteer looking to make more connections, you can boost your profile and support VolunteerConnect.
	</p>
<br>
<h4>Sounds great! How do I do it?</h4>
<p>There are a few steps to verification.</p>
<ol>
  <li>Let us know you are interested in becoming a verified member.</li>
  <li>Chat to one of our staff members and send over documentation to prove your identity.</li>
  <li>We'll send you a postcard with a code on it so you can confirm your address.</li>
  <li>Finally, if you're an organisation, we'll need proof of your work in the refugee crisis.</li>
</ol>

<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  Get verified today
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        By clicking confirm below, your details will be sent to the staff at VolunteerConnect, and we will be in touch with the next steps.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back to request</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onConfirm()">Confirm</button>
      </div>
    </div>
  </div>
</div>