
<div class="container">
  <div class="row">
    <div class="col-sm">
		<a [routerLink]="['/explore']"><img class="explore-options" src="../assets/dashboard-requests.jpg" alt="Latest Requests"></a>
    </div>
    <div class="col-sm">
		<a [routerLink]="['/places']"><img class="explore-options" src="../assets/dashboard-places.jpg" alt="Explore Places"></a>
    </div>
    <div class="col-sm">
		<a [routerLink]="['/organisations']"><img class="explore-options" src="../assets/dashboard-organisations.jpg" alt="Explore Organisations"></a>
    </div>
  </div>
</div>

<hr>

<div class="row">

  <div class="column left">
    <h2>Requests for your skills</h2>
      
      Put this section in.
      <br>
    - Latest requests?
    <br><br>


    <h2>News / updates</h2>

    - Links to blogs / info pages
    <br><br>
    <h3>Important Links</h3>
    <a [routerLink]="['/request']">Post a Request</a>
    <br>
    <a [routerLink]="['/organisation/add']">Create an organisation</a>
    <br>
    <a [routerLink]="['/place/add']">Add a place</a>

  </div>

  <div class="column right">
    <h2>Twitter Feed</h2>
  </div>

</div>
