
<h2 class="page-header">Dashboard</h2>
<p>Manage your requests and organisations here.</p>

<hr>

<h4 class="page-header">Manage My Requests</h4>
<p>Click on a request below to update or delete it.</p>
<div class="container">
  <app-cardbyuser></app-cardbyuser>
</div>

<br><br>
<h4 class="page-header">Manage My Organisations</h4>
<p>Click on an organisation below to update its details and manage requests posted by the organisation.</p>
<div class="container">
<app-card-org-by-user></app-card-org-by-user>
</div>

<br><br>
<h4>Get verified!</h4>
<p>Boost your profile or your organisation's profile by becoming a verified member.</p>
<a [routerLink]="['/getverified']">Find out more →</a>
<br>