
<h2 class="page-header">Add an Place</h2>
<form (submit)="onPlaceSubmit()">
  <div class="form-group">
    <label>Place Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" >
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label>Location</label>
    <app-search-map></app-search-map>
  </div>

  <input type="submit" class="btn btn-primary" value="Submit">
</form>