
<a [routerLink]="['/profile']">← Profile</a>

<hr>

<div class="container">
        <div class="updates">
            <button (click)="onDelete()" class="btn btn-danger">Delete</button>
        </div>
    <div class="colum_left">
        <div class="description">
            <h1 md-line>{{ request.title }}</h1>
             Posted by: <a [routerLink]="['/', request.author_type, request.author_id]">{{ request.author }}</a>
             <br>
            {{ request.description }}
        </div>
    </div>
    <br>
    <div class="colum_right">
        <div class="info">
             <h4 md-line> Request for: {{ request.request_for }}</h4>
		</div>

        <div class="updates">
            Location: {{ request.location }}
            <br>
            Expertise: {{ request.expertise }}
            <br>
            Urgency: {{ request.urgency }}
        </div>
        <br>

    </div>
</div>


<br> <br>
<div class="container">
  
    <form id="requestForm" name="requestForm"  method="post" novalidate (ngSubmit)="saveRequest()" #requestForm="ngForm">
      <h1>
          <input type="text" id="title" name="title"  [ngClass]="pageMode" [(ngModel)]="request.title" required #title="ngModel"/>
          <span class="displayValue" [ngClass]="pageMode">{{ request.title }}</span>

      </h1>

      
        <button type="submit" class="editButton" [ngClass]="pageMode" form="requestForm"  [disabled]="requestForm.invalid">Save</button>
  <button class="btn btn-primary editButton" [ngClass]="pageMode" (click)="cancelEdit()">Cancel</button>
     
  </form> 
  
  <button class="btn btn-secondary viewButton" [ngClass]="pageMode" (click)="editRequest()">Edit</button>
  
</div>
<router-outlet></router-outlet>
