
<a [routerLink]="['/dashboard']">← Dashboard</a>

<hr>


<button class="btn btn-secondary viewButton" [ngClass]="pageMode" (click)="editRequest()">Edit</button>
<button class="btn btn-secondary editButton" [ngClass]="pageMode" (click)="cancelEdit()">Cancel</button>


<button (click)="onDelete()" class="btn btn-danger">Delete</button>

<br><br>

<div class="container">
  
    <form id="requestForm" name="requestForm"  method="post" novalidate (ngSubmit)="saveRequest()" #requestForm="ngForm">
      	<h1>
          <input type="text" class="form-control" id="title" name="title"  [ngClass]="pageMode" [(ngModel)]="request.title" required #title="ngModel"/>
          <span class="displayValue" [ngClass]="pageMode">{{ request.title }}</span>
      	</h1>
        
        Posted by: <a [routerLink]="['/', request.author_type, request.author_id]">{{ request.author }}</a>
        <br><br>   
    	<p>
            <textarea type="text" class="form-control" id="description" name="description"  [ngClass]="pageMode" [(ngModel)]="request.description" required #title="ngModel"></textarea>
            <span class="displayValue" [ngClass]="pageMode">{{ request.description }}</span>
        </p>
    <br>

        <h4 md-line> Request for: {{ request.request_for }}</h4>

        <div class="updates">
            Location: {{ request.location }}
            <br>
            Expertise: {{ request.expertise }}
            <br>
            Urgency: {{ request.urgency }}
        </div>
        <br>

        <button type="submit" class="btn btn-primary editButton" [ngClass]="pageMode" form="requestForm"  [disabled]="requestForm.invalid">Save</button>

  </form> 
  
</div>


<router-outlet></router-outlet>
