
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  	<agm-marker *ngFor="let card of requests" [latitude]="card.latitude" [longitude]="card.longitude">
  		<agm-info-window>

  <div class="card"[routerLink]="['/request', card.id]">
    
    <div class="card-block">
      <h4 class="card-title">{{ card.title }}</h4>
    </div>
    <div class="card-footer">
      <small class="text-muted">Location: {{ card.location | slice:0:30 }}..</small>
    </div>
  </div>
  	</agm-info-window>
  	</agm-marker>
</agm-map>