/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* { font-family: Raleway; }
 

h1 { font-family: Open Sans !important; }
h2 { font-family: Open Sans !important; }
h3 { font-family: Open Sans !important; }
h4 { font-family: Open Sans !important; }
h5 { font-family: Open Sans !important; }
h6 { font-family: Open Sans !important; }